/*************************
GENERAL
*************************/

body {
  font-family:'Karma';
}

#wrapper {
  text-align: left;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  float: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}




/*************************
HEADING
*************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Khand';
  margin: 15px 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 0.8em;
}

h2 {
  font-family: 'Karma';
  font-size: 0.8em;
  margin: -5px 0 0;
  font-weight: normal;
}

#mo_logo {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
}



/*************************
NAVIGATION
*************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;

}




/*************************
FOOTER
*************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc ;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*************************
PAGE: MOUSTACHERY
*************************/

#gallery {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  display: inline-block;
  width: 100%;
  margin: 2.5%;
  background-color: #703030;
  color: #ffffff;

}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #ffffff
}

.intro {
  text-align: center;
  padding: 0 10px 0 10px;
}




/*************************
PAGE: ABOUT
*************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 10px;
  border-radius: 10%;
}




/*************************
PAGE: CONTACT
*************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter_square.png');
}




/*************************
PAGE: VIDEO
*************************/


#sausage {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  float: center;
  font-size: 0.8em;
}

#sausage ul li {
  list-style: none;
}

#sausage ul li.iframe {
  float: center;
  max-width: 240px;
  max-height: 195px;
}



/*************************
COLORS
*************************/
/*maroon=#703030, charcoal=#2F343B,light_charcoal=#7E827A,dull-yellow=#E3CDA4,dark-peach=#C77966*/

/* site body */
body {
  background-color: #7E827A;
  color: #ffffff;
}

/* peach and maroon header */
header {
background: #C77966;
border-color: #703030;
}

/* nav background on mobile */
nav {
  background: #E3CDA4;
}

/* logo text */
h1, h2 {
  color: #2F343B;
}

/* links */
a {
color: #2F343B;
}

/* nav link */
nav a, nav a:visited {
  colour: #7E827A;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #7E827A;
}









